<div style="align-content: center;padding-left: 25%">
  <img  [src]="imageurl" />

</div>

<div>
  <div *ngIf="douhavecourses() then douhavecoursesYES; else douhavecoursesNOT">
  </div>
  <ng-template #douhavecoursesYES >
    <h1>list of courses *ngIf</h1>
  </ng-template>
  <ng-template #douhavecoursesNOT>
    <h1>nocourses</h1>
  </ng-template>
</div>
<div id='cssmenu'>
  <ul>
    <li><a href='#'><span>Home</span></a></li>
    <li class='active has-sub'><a href='#'><span>{{getTitile()}}</span></a>
      <ul>

        <li class='has-sub' *ngFor="let product of getProducts()" ><a href='#'><span>{{product  | uppercase }}</span></a>
          <ul>
            <li><a href='#' src=""><span>Sub Product</span></a></li>
            <li class='last'><a href='#'><span>Sub Product</span></a></li>
          </ul>
        </li>
        <!-- <li class='has-sub'><a href='#'><span>Product 2</span></a>
           <ul>
              <li><a href='#'><span>Sub Product</span></a></li>
              <li class='last'><a href='#'><span>Sub Product</span></a></li>
           </ul>
        </li> -->
      </ul>
    </li>
    <li><a href='#'><span>About</span></a></li>
    <li class='last'><a href='#'><span>Contact</span></a></li>
  </ul>
  <br>
  <br>
  <br>
  <h2>switchcase</h2>

  <ul class="nav nav-pills">  
      <li [class.active]="viewMode == 'map'"><a (click)="viewMode='map'">map</a> </li>
      <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">ListView</a> </li>
  </ul>

  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view ngswitchcase</div>
    <div *ngSwitchCase="'list'">List View</div>
    <div *ngSwitchDefault>other View</div>
  </div>
<br>
<br>
<br>
<h2>ngfor</h2>
  <li *ngFor= "let item of courses;index as i;even as iseven" >
    {{i}} - {{item}}-ngforexample <b><span *ngIf="iseven">even row</span></b>
  </li>   
<br>
<br>
<br>
<br>

<button (click)="loadCourses()" class="button" >load courses</button>
<li *ngFor= "let item of courses1;index as i;even as iseven;trackBy: trackCourse" >
  {{i}} - {{item}}-ngforexample <b><span *ngIf="iseven">even row</span></b>
</li>  

<br>
<br>
<br>
<br>
<button (click)="ngstyleToggle()" [ngStyle]="{
  'backgroundColor': canSave? 'blue':'red',
  'color': canSave? 'white':'black'
}">ngstyletest</button>
<br>
<br>
<br>
<br>

<span>{{mylist.assignee?.name}}</span>
</div>
